.profileContainer {
    display: flex;
    flex-direction: column;
    gap: 24px; /* Spacing between sections */
    padding: 20px;
    background-color: #f8f8f8;
  }
  
  .userInfoSection {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .userHistorySection {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .hostTripsSection {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  