@tailwind base;
@tailwind components;
@tailwind utilities;
/* slick-carousel styles */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --foreground-rgb: 51, 51, 51; /* Dark Slate Grey for general text */
  --background-start-rgb: 214, 219, 220; /* Light Sand for soft neutral background */
  --background-end-rgb: 255, 255, 255; /* White for a clean finish */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 51, 51, 51; /* Dark Slate Grey text in light mode */
    --background-start-rgb: 255, 255, 255; /* White background in light mode */
    --background-end-rgb: 214, 219, 220; /* Light Sand for gradient transition */
  }
}


body {
  color: rgb(var(--foreground-rgb)); /* Updated for Dark Slate Grey */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); /* Light Sand to White gradient */
  min-height: 100vh;
  margin: 0;
}


.main-content {
  background-color: #ffffff; /* White background for main content */
  min-height: calc(100vh - 60px); /* Adjust based on footer height or other fixed elements */
  padding: 20px; /* Add some padding */
}

.primaryButton {
  background-color: #1668d6; /* Deep Ocean Blue */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: #005bb5; /* Slightly darker Deep Ocean Blue */
    transform: translateY(-2px);
  }
}


.secondaryButton {
  background-color: #ffffff;
  color: #1668d6; /* Deep Ocean Blue text */
  border: 1px solid #1668d6;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: #f0f0f0;
    color: #005bb5; /* Darker Blue */
    transform: translateY(-2px);
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
