@tailwind base;
@tailwind components;
@tailwind utilities;
/* slick-carousel styles */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700&display=swap');


:root {
  --foreground-rgb: 51, 51, 51; /* Dark Slate Grey for general text */
  --background-start-rgb: 214, 219, 220; /* Light Sand for soft neutral background */
  --background-end-rgb: 255, 255, 255; /* White for a clean finish */
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 51, 51, 51; /* Dark Slate Grey text in light mode */
    --background-start-rgb: 255, 255, 255; /* White background in light mode */
    --background-end-rgb: 214, 219, 220; /* Light Sand for gradient transition */
  }
}


body {
  font-family: 'Tajawal', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
  margin: 0;
}



.main-content {
  background-color: #ffffff; /* White background for main content */
  min-height: calc(100vh - 60px); /* Adjust based on footer height or other fixed elements */
  padding: 20px; /* Add some padding */
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* globals.css */
/* globals.css */
@layer components {
  /* Primary WhatsApp Button */

  .page-title {
    @apply text-3xl font-bold text-center text-[#333]; /* Tailwind utilities */
    margin-bottom: 24px; /* Adjust margin as needed */
  }

  .section-title {
    @apply text-2xl font-semibold text-left text-[#333];
    margin-bottom: 16px;
  }
  
  .btn-primary {
    @apply bg-[#25d366] text-white font-bold text-center rounded-lg transition duration-200;
    width: 60%;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Tajawal', sans-serif;

  }

  .btn-primary:hover {
    @apply bg-[#1ebf57]; /* Darker green on hover */
    font-family: 'Tajawal', sans-serif;

  }

  /* Secondary Button */
  .btn-secondary {
    @apply bg-white text-[#25d366] font-bold text-center rounded-lg border-2 border-[#25d366] transition duration-200;
    width: 60%;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Tajawal', sans-serif;

  }

  .btn-secondary:hover {
    @apply bg-[#25d366] text-white; /* Inverts colors on hover */
    font-family: 'Tajawal', sans-serif;

  }
}

