/* Base button styles */
.primaryButton {
  background-color: #00bf63;
  color: white;
  min-width: 200px;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  font-family: 'Tajawal', sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Reduced shadow: smaller offset, blur, and opacity */
}

.primaryButton:hover {
  background-color: #00a653;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Reduced shadow: smaller offset, blur, and opacity */
}

.primaryButton.loading {
  background-color: #999;
  cursor: not-allowed;
  padding: 10px 20px;
  text-decoration: none;
  font-family: 'Tajawal', sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px; /* Corrected height to match original loading styles*/
  box-shadow: none;
  min-width: 200px;

}

/* Text styles for the button */
.primaryButtonText {
  font-size: 1rem;
}

/* Dots container for loading state */
.dotsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 2rem;
}

/* Styles for each dot in the loading state */
.dot {
  width: 0.4rem;
  height: 0.4rem;
  background-color: white;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out both;
}

/* Keyframes for the dot animation */
@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

/* Delays for each dot to create staggered effect */
.dot:nth-child(1) {
  animation-delay: -0.32s;
}

.dot:nth-child(2) {
  animation-delay: -0.16s;
}

.dot:nth-child(3) {
  animation-delay: 0s;
}