.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.filterSection {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Change to column for mobile */
  align-items: flex-start; /* Align items to the start */
}

.searchContainer {
  display: flex;
  align-items: center; /* Center align items vertically */
  margin-bottom: 10px; /* Space between search and filter controls */
}

.searchIcon {
  color: #007bff; /* Search icon color */
  margin-right: 8px; /* Space between icon and input */
  font-size: 20px; /* Icon size */
}

.searchBar {
  width: 300px; /* Width of the search bar */
  padding: 10px; /* Padding inside the search bar */
  font-size: 16px; /* Font size for the text */
  border: 1px solid #ccc; /* Border style */
  border-radius: 4px; /* Rounded corners */
}

.filterControls {
  display: flex; /* Flexbox for filter dropdowns */
  gap: 10px; /* Space between dropdowns */
}

.filterSelect, .sortSelect {
  padding: 10px; /* Padding for select elements */
  font-size: 16px; /* Font size for the select */
  border: 1px solid #ccc; /* Border style */
  border-radius: 4px; /* Rounded corners */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .filterSection {
    flex-direction: column; /* Stack elements in mobile view */
  }

  .searchContainer {
    width: 100%; /* Make search container full width */
  }

  .searchBar {
    width: 100%; /* Full width for search bar */
  }

  .filterControls {
    flex-direction: column; /* Stack filter controls */
    width: 100%; /* Full width */
  }

  .filterSelect,
  .sortSelect {
    width: 100%; /* Full width for dropdowns */
  }
}

.tripList {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between trip cards */
}

.tripCard {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.tripCard:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.picture {
  width: 600px;
  object-fit: cover;
  flex-shrink: 0;
  padding: 5px;
  border-radius: 20px;
}

.details {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details h2 {
  margin: 0;
  font-size: 1.75rem;
  font-weight: bold;
  color: #333;
}

.details p {
  margin: 8px 0;
  font-size: 1rem;
  color: #666;
}

.strong {
  font-weight: bold;
  color: #000;
}

/* No trips message */
.noTripsMessage {
  text-align: center;
  color: #888; /* Color for the no trips message */
}
