.nav {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.logoContainer {
  flex-shrink: 0;
}

.logo {
  height: 32px;
  width: auto;
}

/* Updated desktop menu to align with buttons */
.desktopMenuLangage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.desktopMenu {
  display: flex;
  gap: 15px;
}

/* Navbar button using the same primaryButton style */
.navbarButton {
  background-color: #00bf63; /* Primary Color */
  color: white; /* Text color */
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbarButton:hover {
  background-color: #00a355;
  transform: translateY(-2px);
}

.navbarButton:active {
  transform: translateY(0);
}

.navbarButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.mobileMenuButton {
  display: none;
  color: #333;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  color: #333;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.link:hover {
  background-color: #f0f0f0;
}

.activeLink {
  background-color: #00bf63;
  color: #ffffff;
}

.languageSelector {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.languageSelector select {
  padding: 0.75rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  .languageSelector {
      padding-left: 0;
      margin-right: 10px; /* Adjust margin as needed */
  }

  .desktopMenu {
      display: none;
  }

  .mobileMenuButton {
      display: block;
  }
}
