.container {
    padding: 20px;
  }
  
  .createButton {
    margin-bottom: 20px;
  }
  
  .tripList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .tripCard {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
  }
  
  .updateButton, .deactivateButton {
    margin-top: 10px;
    margin-right: 5px;
    padding: 10px;
    background-color: #00bf63;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .updateButton:hover, .deactivateButton:hover {
    background-color: #ff914d;
  }
  