fastapi
pydantic
passlib
python-jose[cryptography]
passlib[bcrypt]
python-multipart
uvicorn
sqlalchemy
psycopg2
config
alembic
slowapi
requests
pydantic-settings
httpx
redis
aioredis
fastapi-redis-cache
google-cloud-storage
