 /* Wrapper for the search engine form and tabs */
 .searchEngine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center the content */
  box-sizing: border-box;
  width: 90%; /* Make it responsive */
  padding: 1.5rem; /* Add padding for spacing */
  max-width: fit-content;
  background-color: #ffffff; /* Light background for the entire section */
  border-radius: 8px; /* Rounded corners for a softer look */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin: 0 auto; /* Center the component horizontally */
}

/* Tabs section */
.tabs {
  display: flex;
  justify-content: center;
}

.tab {
  padding: 0.75rem 1.5rem; /* Larger padding for a more spacious feel */
  background-color: #00bf63;
  color: white;
  border: none;
  margin: 0 0.5rem;
  border-radius: 24px; /* Fully rounded buttons for a modern look */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for hover */
}

.tab.active {
  background-color: #00bf63; /* Change color for active tab */
}

.tab:hover {
  background-color: #135cb8;
  transform: scale(1.05); /* Slight scale on hover for interactivity */
}

.searchFormRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  height:max-content;
}

.searchForm {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: max-content;
  flex-direction: column; /* Stack forms vertically */
  align-items: stretch; /* Make forms take full width */
}

/* Form group container */
.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Style for search button */


.searchButtonWrapper {
  width: 200px;
  background-color: #00bf63;
}

/* Responsive Styles */
@media (max-width: 768px) {
  /* Stack the search button on mobile */
  .searchForm {
    flex-direction: column;
  }

  .formGroup {
    flex-direction: column;
  }

  .searchButton {
    width: 100%; /* Full width button */
  }

  .searchButtonWrapper {
    margin-top: 1rem;
    align-self: stretch;
  }
}

@media (min-width: 768px) {
  .searchForm {
    flex-direction: column; /* Stack forms vertically */
    align-items: stretch; /* Make forms take full width */
  }

  .formGroup {
    flex-direction: column;
    width: 100%;
  }

  .formGroup label {
    margin-right: 0.5rem;
  }

  .searchButtonWrapper {
    margin-left: auto;
    width: auto;
  }
}