.footer {
  background-color: #000000; /* Black background */
  padding: 20px 20px;
  text-align: center;
  color: #ffffff; /* White text color */
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.logoAndContact,
.quickLinks,
.paymentMethods {
  flex: 1;
}

.logoAndContact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  margin-bottom: 20px;
}

.contactInfo {
  font-size: 14px;
}

.contactInfo h4 {
  margin-bottom: 10px;
}

.quickLinks {
  text-align: center;
}

.quickLinks h4 {
  margin-bottom: 10px;
}

.quickLinks ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.quickLinks li {
  margin-bottom: 8px;
}

.quickLinks a {
  color: #ffffff; /* White color for links */
  text-decoration: none;
  font-weight: bold; /* Heavier font for links */
}

.quickLinks a:hover {
  text-decoration: underline;
}

.paymentMethods {
  text-align: center;
}

.paymentMethods h4 {
  margin-bottom: 10px;
}

.payments {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.bottomText {
  padding-top: 20px;
  font-size: 14px;
  color: #ffffff; /* White text color */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.socialIcons {
  display: flex;
  gap: 10px;
}

.socialIcons a {
  display: inline-block;
}

.socialIcons img {
  width: 24px;
  height: 24px;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .logoAndContact {
    flex: 2;
  }

  .quickLinks,
  .paymentMethods {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 10px;
  }

  .container {
    flex-direction: column;
  }

  .bottomText {
    flex-direction: column;
    gap: 10px;
  }
}
